.footer-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
    background-color: #001838;

    & .image-holder{
        width: 100%;
        height: 60%;
        background-image: url(../../assets/foot.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }

    & .links-holder{
        width: 100%;
        height: 43%;
        background-image: url(../../assets/log.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;  
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        gap: 100px;

        & p{
            color: white;
            cursor: pointer;

        }


        & h5{
            color: white; 
        }
    }
}

 .links-holder p:hover {
    text-decoration: underline;
  }
